.innerContainer{
  
  display: flex;
  flex-direction: row;
  /* border: 5px solid red; */
 justify-content: center;
  width: 100%;
  max-width: 1224px;
  flex-wrap: wrap;
 
  gap: 20px;
}
.outerContainer{
  display: flex;  
  width: 100%;
 
  justify-content: center;
  margin-bottom: 40px;

}
.carditem{
  border: 1px solid green;
  margin-top: 35px;
}
.a{
  border: none;
}
.b{
  border: none;
  font-size: large;
  font-weight: bold;
}
.c{
  color: red;
  border: none;
}
.image{
  width: 120px;
  height: 80px;
  border-radius: 50%;
 
  margin-top: 50px;
  
}
.mainBox-name{
  margin-top:30px ;
  display: flex;
  justify-content: space-around;
 margin-left: 26%;
  width: 55%;
  height: 200px;
  border: 2px solid rgb(117, 216, 247);
  border-radius: 10px;
  
  
}
.dataBox-name{
  margin-top: 45px;
  margin-left: -40px;
}
.nameName{
  color: red;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
}
.nametem{
   height: 210px;
  width: 100%;
 }
@media screen and (max-width: 720px) {
  .mainBox-name{
    margin-top:30px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   margin-left: 26%;
    width: 70%;
    height: 100%;
    border: 2px solid rgb(117, 216, 247);
    border-radius: 10px;
    margin-bottom: 40px;
        
  }
  .image{
    width: 120px;
    height: 80px;
    border-radius: 50%;   
    margin-top: 5px;
    
  }
  .nametem{
    height: 300px;
   width: 100%;
  }
  .dataBox-name{
    margin-top: -20px;
    margin-left: 30px;
   
  }
}
@media screen and (min-width: 680px) and (max-width: 992px) {
  .image{
    width: 120px;
    height: 80px;
    border-radius: 50%;   
    margin-top: 5px;
    margin-top: 40px;
    
  }
  .nametem{
    height: 300px;
   width: 100%;
  }
  .dataBox-name{
   margin-top: 5px;
    margin-left: 30px;
   
  }
}